<div class="container-all">
  <table mat-table [dataSource]="admins" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let admin"> {{ admin.id }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let admin"> {{ admin.email }} </td>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let admin">
        <span *ngIf="!showPasswords[admin.id]">********</span>
        <span *ngIf="showPasswords[admin.id]">{{ admin.password }}</span>
        <button mat-icon-button (click)="togglePasswordVisibility(admin.id)">
          <mat-icon>{{ showPasswords[admin.id] ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let admin">
        <button mat-icon-button color="primary" (click)="updateAdmin(admin)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteAdmin(admin.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
