.container-all{
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
font-family: 'Ubuntu', sans-serif;
}

table {
  width: 75%;
}

th, td {
  text-align: center;
}

button {
  margin: 0 5px;
}
