<div class="container">
  <div class="form-header">
    <mat-icon class="icono">event</mat-icon>
    <h2>Crear Actividad</h2>
  </div>

  <!-- Formulario Principal -->
  <form *ngIf="showMainForm" [formGroup]="activityForm" (ngSubmit)="goToNextStep()" class="form-grid">
    <div class="form-group">
      <label>Tipo de Actividad:</label>
      <select formControlName="type">
        <option *ngFor="let type of activityTypes" [value]="type">{{ type }}</option>
      </select>
      <label class="error-message" *ngIf="activityForm.get('type')?.invalid && (activityForm.get('type')?.touched || submittedMain)">
        Campo vacío, por favor indique el tipo de actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Fecha:</label>
      <input type="date" formControlName="date" required />
      <label class="error-message" *ngIf="activityForm.get('date')?.invalid && (activityForm.get('date')?.touched || submittedMain)">
        Campo vacío, por favor indique la fecha en la que se hará la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Nombre de Actividad:</label>
      <input type="text" formControlName="name" required />
      <label class="error-message" *ngIf="activityForm.get('name')?.invalid && (activityForm.get('name')?.touched || submittedMain)">
        Campo vacío, por favor indique el nombre de la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Hora:</label>
      <input type="time" formControlName="time" required />
      <label class="error-message" *ngIf="activityForm.get('time')?.invalid && (activityForm.get('time')?.touched || submittedMain)">
        Campo vacío, por favor indique la hora de la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Ubicación:</label>
      <input type="text" formControlName="location" required />
      <label class="error-message" *ngIf="activityForm.get('location')?.invalid && (activityForm.get('location')?.touched || submittedMain)">
        Campo vacío, por favor indique la ubicación de donde será la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Duración (Horas):</label>
      <input type="text" formControlName="duration" required />
      <label class="error-message" *ngIf="activityForm.get('duration')?.invalid && (activityForm.get('duration')?.touched || submittedMain)">
        Campo vacío, por favor indique cuánto durará la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Modalidad:</label>
      <input type="text" formControlName="modality" required />
      <label class="error-message" *ngIf="activityForm.get('modality')?.invalid && (activityForm.get('modality')?.touched || submittedMain)">
        Campo vacío, por favor indique la modalidad en la que será la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Máx. Participantes:</label>
      <input type="number" formControlName="maxParticipants" required />
      <label class="error-message" *ngIf="activityForm.get('maxParticipants')?.invalid && (activityForm.get('maxParticipants')?.touched || submittedMain)">
        Campo vacío, por favor indique la cantidad máxima de participantes.
      </label>
    </div>

    <div class="form-group">
      <label>Descripción:</label>
      <textarea formControlName="description" required></textarea>
      <label class="error-message" *ngIf="activityForm.get('description')?.invalid && (activityForm.get('description')?.touched || submittedMain)">
        Campo vacío, por favor indique la descripción de la actividad.
      </label>
    </div>

    <div class="form-group">
      <label>Edad Mínima:</label>
      <input type="number" formControlName="minimumAge" required />
      <label class="error-message" *ngIf="activityForm.get('minimumAge')?.invalid && (activityForm.get('minimumAge')?.touched || submittedMain)">
        Campo vacío, por favor indique la edad mínima posible de los participantes.
      </label>
    </div>

    <div class="form-group">
      <label>Edad Máxima:</label>
      <input type="number" formControlName="maximumAge" required />
      <label class="error-message" *ngIf="activityForm.get('maximumAge')?.invalid && (activityForm.get('maximumAge')?.touched || submittedMain)">
        Campo vacío, por favor indique la edad máxima posible de los participantes.
      </label>
    </div>

    <div class="form-actions full-width">
      <button type="button" (click)="goToNextStep()">Siguiente</button>
    </div>
  </form>

  <!-- Información Adicional -->
  <div *ngIf="showAdditionalForm" class="additional-section">
    <h3 class="section-title">Información Adicional</h3>

    <form [formGroup]="activityForm">

      <!-- Deporte -->
      <div *ngIf="activityForm.get('type')?.value === 'Deporte'" class="form-grid">
        <div class="form-group">
          <label>Tipo de Deporte:</label>
          <select formControlName="sport" required>
            <option *ngFor="let sport of sports" [value]="sport">{{ sport }}</option>
          </select>
          <label class="error-message" *ngIf="activityForm.get('sport')?.invalid && (activityForm.get('sport')?.touched ||  submittedAdditional)">
            Campo vacío, por favor indique de qué deporte será la actividad.
          </label>
        </div>

        <div class="form-group">
          <label>Dificultad:</label>
          <select formControlName="difficulty" required>
            <option value="Alta">Alta</option>
            <option value="Media">Media</option>
            <option value="Baja">Baja</option>
            <option value="Ninguna">Ninguna</option>
          </select>
          <label class="error-message" *ngIf="activityForm.get('difficulty')?.invalid && (activityForm.get('difficulty')?.touched || submittedAdditional)">
            Campo vacío, por favor indique la dificultad de la actividad.
          </label>
        </div>

        <div class="form-group">
          <label>Requiere equipo especial:</label>
          <select formControlName="needs_special_equipment" (change)="onSpecialEquipmentChange($event)" required>
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
          <label class="error-message" *ngIf="activityForm.get('needs_special_equipment')?.invalid && (activityForm.get('needs_special_equipment')?.touched || submittedAdditional)">
            Campo vacío, por favor elija si se necesita o no equipo especial.
          </label>
        </div>

        <div class="form-group" *ngIf="activityForm.get('needs_special_equipment')?.value === true">
          <label>Especificaciones del equipo especial:</label>
          <textarea formControlName="specifications" required></textarea>
          <label class="error-message" *ngIf="activityForm.get('specifications')?.invalid && (activityForm.get('specifications')?.touched || submittedAdditional)">
            Campo vacío, por favor indique las especificaciones necesarias del equipo especial.
          </label>
        </div>

        <div class="form-group">
          <label>Nivel:</label>
          <input type="text" formControlName="level" required/>
          <label class="error-message" *ngIf="activityForm.get('level')?.invalid && (activityForm.get('level')?.touched  || submittedAdditional)">
            Campo vacío, por favor indique el nivel para la actividad.
          </label>
        </div>
      </div>

      <!-- Taller -->
      <div *ngIf="activityForm.get('type')?.value === 'Taller'" class="form-grid">
        <div class="form-group">
          <label>Objetivo del Taller:</label>
          <textarea formControlName="objective" required></textarea>
          <label class="error-message" *ngIf="activityForm.get('objective')?.invalid && (activityForm.get('objective')?.touched  || submittedAdditional)">
            Campo vacío, por favor indique cuáles son los objetivos del taller.
          </label>
        </div>

        <div class="form-group">
          <label>Audiencia Objetivo:</label>
          <select formControlName="target_audience" required>
            <option value="Niños">Niños</option>
            <option value="Adolescentes">Adolescentes</option>
            <option value="Adultos">Adultos</option>
            <option value="Adultos Mayores">Adultos Mayores</option>
            <option value="Familia">Familia</option>
            <option value="Sin Restricción">Sin Restricción</option>
          </select>
          <label class="error-message" *ngIf="activityForm.get('target_audience')?.invalid && (activityForm.get('target_audience')?.touched || submittedAdditional)">
            Campo vacío, por favor indique cuál es la audiencia objetivo del taller.
          </label>
        </div>

        <div class="form-group">
          <label>Requiere material especial</label>
          <select formControlName="needs_material" (change)="onSpecialMaterialChange($event)" required>
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
          <label class="error-message" *ngIf="activityForm.get('needs_material')?.invalid && (activityForm.get('needs_material')?.touched || submittedAdditional)">
            Campo vacío, por favor indique si se necesita material especial.
          </label>
        </div>

        <div class="form-group" *ngIf="activityForm.get('needs_material')?.value === true">
          <label>Especifique el material especial:</label>
          <textarea formControlName="specifications" required></textarea>
          <label class="error-message" *ngIf="activityForm.get('specifications')?.invalid && (activityForm.get('specifications')?.touched || submittedAdditional)">
            Campo vacío, por favor especifique el material especial requerido.
          </label>
        </div>
      </div>

      <!-- Charla o Foro -->
      <div *ngIf="activityForm.get('type')?.value === 'Charla' || activityForm.get('type')?.value === 'Foro'" class="form-grid">
        <div class="form-group">
          <label>Tema:</label>
          <input type="text" formControlName="theme" required/>
          <label class="error-message" *ngIf="activityForm.get('theme')?.invalid && (activityForm.get('theme')?.touched || submittedAdditional)">
            Campo vacío, por favor indique el tema de la actividad.
          </label>
        </div>

        <div class="form-group">
          <label>Audiencia Objetivo:</label>
          <select formControlName="target_audience" required>
            <option value="Niños">Niños</option>
            <option value="Adolescentes">Adolescentes</option>
            <option value="Adultos">Adultos</option>
            <option value="Adultos Mayores">Adultos Mayores</option>
            <option value="Familia">Familia</option>
            <option value="Sin Restricción">Sin Restricción</option>
          </select>
          <label class="error-message" *ngIf="activityForm.get('target_audience')?.invalid && (activityForm.get('target_audience')?.touched || submittedAdditional)">
            Campo vacío, por favor indique cuál es la audiencia objetivo de la actividad.
          </label>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" (click)="goBack()">Atrás</button>
        <button type="submit" (click)="submitActivity()">Guardar</button>
      </div>
    </form>
  </div>
</div>
