<mat-toolbar color="primary" class="admin-navbar">
  <span class="spacer"></span>

  <h3 class="tittle">Olimpiadas Especiales de Costa Rica</h3>

  <button mat-icon-button [matBadge]="notifications" matBadgeColor="warn">
    <mat-icon>notifications</mat-icon>
  </button>

  <!-- Menú de usuario -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="perfil()">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="userMenu" class="profile-button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
